.map {
  position: absolute;
  height: 100%;
  width: 100%;

  background-color: transparent;

  opacity: 0;
  transition: opacity 150ms ease-in;
}


.map.visible {
  opacity: 1;
}



#map {
  height: 100%;
}

#refreshButton {
  position: absolute;
  bottom: 20px;
  right: 55px;
  padding: 10px;
  z-index: 800;
  font-size: 64px;
}

#refresh{
  position: absolute;
  bottom: 100px;
  right: 150px;
  padding: 10px;
  z-index: 500;
  font-size: 20px;
  width: 120px;
  height: 60px;
}
