 <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Categories</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
        <ion-list>
          <ion-item
          [routerLink]="[
          '/',
          'places',
          'tabs',
          'categories',
          'Museums'
        ]"
            detail
          >

            <ion-label>
              <h1>Museums</h1>

            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
        <ion-list>
          <ion-item
          [routerLink]="[
          '/',
          'places',
          'tabs',
          'categories',
          'Forts'
        ]"
            detail
          >

            <ion-label>
              <h1>Forts</h1>

            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-row>
    <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
      <ion-list>
        <ion-item
        [routerLink]="[
        '/',
        'places',
        'tabs',
        'categories',
        'National Parks'
      ]"
          detail
        >

          <ion-label>
            <h1>National Parks</h1>

          </ion-label>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
      <ion-list>
        <ion-item
        [routerLink]="[
        '/',
        'places',
        'tabs',
        'categories',
        'Places of Worship'
      ]"
          detail
        >

          <ion-label>
            <h1>Places of Worship</h1>

          </ion-label>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
      <ion-list>
        <ion-item
        [routerLink]="[
        '/',
        'places',
        'tabs',
        'categories',
        'Heritage Building'
      ]"
          detail
        >

          <ion-label>
            <h1>Heritage Building</h1>

          </ion-label>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
      <ion-list>
        <ion-item
        [routerLink]="[
        '/',
        'places',
        'tabs',
        'categories',
        'Events & Festival'
      ]"
          detail
        >

          <ion-label>
            <h1>Events & Festival</h1>

          </ion-label>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
      <ion-list>
        <ion-item
        [routerLink]="[
        '/',
        'places',
        'tabs',
        'categories',
        'Others'
      ]"
          detail
        >

          <ion-label>
            <h1>Others</h1>

          </ion-label>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
  <ion-row >
    <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
      <ion-list>
        <ion-item
        [routerLink]="[
        '/',
        'places',
        'tabs',
        'categories',
        'Places to Eat'
      ]"
          detail
        >

          <ion-label>
            <h1>Places to Eat</h1>

          </ion-label>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>

</ion-content>
