<ion-header>
  <ion-toolbar>
    <ion-title>Your Wishlist</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onCancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center" size-md="6" offset-md="3" *ngIf="!loadedwishlist || loadedwishlist.length <=0">
        <p> You dont have any wishlist </p>
      </ion-col>
      <ion-col size-md="6" offset-md="3" *ngIf="loadedwishlist && loadedwishlist.length > 0">
        <ion-list>

            <ion-item *ngFor="let bookingdlmhtmltok of loadedwishlist" (click)="onSelect(bookingdlmhtmltok.placeTitle, bookingdlmhtmltok.description, bookingdlmhtmltok.placeImage, bookingdlmhtmltok.placeId)">
              <ion-thumbnail slot="start">
                <ion-img [src]="bookingdlmhtmltok.placeImage"></ion-img>
              </ion-thumbnail>
              <ion-label>
                <h3>{{ bookingdlmhtmltok.placeTitle}}</h3>
                <p>{{ bookingdlmhtmltok.description }}</p>

              </ion-label>
            </ion-item>

        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

