<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Travel Planner</ion-title>
    <ion-buttons slot="primary">
      <ion-button routerLink="/planner/create-travel-planner">
        <ion-icon name="add" slot="icon-only"></ion-icon>
    </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding">
  <ion-grid *ngIf="isLoading">
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
        <ion-spinner color="primary"></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="!isLoading && (!releventPlanner || releventPlanner.length <= 0)">
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
        <p> There are no planner right now, please create one!</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="!isLoading && releventPlanner.length > 0"> <!--show when releventplaces more then 0-->
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">

        <ion-list>
          <ion-item-sliding *ngFor="let planner of releventPlanner" #demisliding>
          <ion-item [routerLink]="[planner.id]" detail><!--Other way of delcaring path for routing-->
            <ion-label>
              <h2>{{ planner.title }}</h2>
              <p>{{ planner.description }}</p>
              <p>{{ planner.date | date: 'EEEE, d MMMM, y'}}</p>
            </ion-label>
          </ion-item>
          <ion-item-options>
            <ion-item-option color="danger" (click)="onCancelBooking(planner.id, demisliding)"><!-- Cara guna click listener-->
              <ion-icon name="trash" slot="icon-only"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
        </ion-list>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
